[Desktop Entry]
Name=Anytype
Exec=/opt/Anytype/anytype %U
Terminal=false
Type=Application
Icon=/opt/Anytype/anytype.png
StartupWMClass=Anytype
Comment=Anytype
MimeType=x-scheme-handler/anytype;
Categories=Utility;
