[Desktop Entry]
Version=1.0
Type=Application
Name=calibre
GenericName=E-book library management
Comment=E-book library management: Convert, view, share, catalogue all your e-books
Exec=/opt/calibre/calibre %F
Icon=calibre-gui
Categories=Office;
