[Desktop Entry]
Name=WeChat
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=wechat --file-forwarding com.tencent.WeChat @@u %U @@
Terminal=false
Type=Application
Icon=com.tencent.WeChat
StartupWMClass=WeChat
Categories=Network;
Comment=WeChat Desktop
X-Flatpak=com.tencent.WeChat
