[Desktop Entry]
Version=1.0
Name=PDF Arranger
Comment=Merge, shuffle, and crop PDFs
Type=Application
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=pdfarranger --file-forwarding com.github.jeromerobert.pdfarranger @@u %U @@
Icon=com.github.jeromerobert.pdfarranger
MimeType=application/pdf;application/postscript;application/x-ext-pdf;image/x-bmp;image/bmp;image/gif;image/tiff;image/jp2;image/jpeg;image/jpg;image/png;image/x-icon;image/x-portable-pixmap;image/x-gray;image/x-ico;image/x-png;image/vnd.zbrush.pcx;image/x-pcx;
Categories=Office;
Terminal=false
StartupNotify=false
Keywords=pdfarranger;pdfshuffler;PDF Shuffler;
X-Flatpak=com.github.jeromerobert.pdfarranger
