[Desktop Entry]
Version=1.0
Type=Application
Name=Longbridge
Comment=Longbridge trading platform desktop application.
StartupNotify=true
Exec=mise x -- longbridge
Icon=/home/jing2uo/.local/share/icons/longbridge.png
Categories=Finance;
Keywords=longbridge;
StartupWMClass=com.longbridge.app.desktop
