[Desktop Entry]
Name=longbridge
Exec=bash -c "~/.local/bin/runwine longbridge"
Type=Application
Terminal=false
Categories=Application;
Icon=/home/jing2uo/.var/app/com.usebottles.bottles/data/bottles/bottles/longbridge/icons/longbridge.png
Comment=Launch longbridge using Bottles.
StartupWMClass=longbridge
