[Desktop Entry]
Version=1.0
Name=Remmina
GenericName=Remote Desktop Client
GenericName[zh_CN]=远程桌面客户端
Comment=Connect to remote desktops
Comment[zh_CN]=连接到远程桌面
TryExec=remmina-file-wrapper
Exec=remmina-file-wrapper %U
Icon=org.remmina.Remmina
Terminal=false
Type=Application
Categories=GTK;GNOME;X-GNOME-NetworkSettings;Network;
Keywords=remote desktop;rdp;vnc;ssh;spice;
StartupWMClass=org.remmina.Remmina
MimeType=x-scheme-handler/rdp;x-scheme-handler/spice;x-scheme-handler/vnc;x-scheme-handler/ssh;x-scheme-handler/remmina;application/x-remmina;
