[Desktop Entry]
Name=Virtual Machine Manager
Comment=Manage virtual machines
Icon=org.virt_manager.virt-manager
Exec=/usr/bin/flatpak run --branch=stable --arch=x86_64 --command=virt-manager org.virt_manager.virt-manager
Type=Application
Terminal=false
Keywords=vmm;
Categories=System;
X-Flatpak-RenamedFrom=virt-manager.desktop;
X-Flatpak=org.virt_manager.virt-manager
