[Desktop Entry]
Name=tdx
Exec=bash -c "~/.local/bin/runwine tdx"
Type=Application
Terminal=false
Categories=Application;
Icon=/home/jing2uo/.local/share/icons/tdx.png
Comment=Launch tdx using Bottles.
