[Desktop Entry]
Name=WXWork
Exec=flatpak run --command=bottles-cli com.usebottles.bottles run -p WXWork -b 'app' -- %u
Type=Application
Terminal=false
Categories=Application;
Icon=/home/jing2uo/.var/app/com.usebottles.bottles/data/bottles/bottles/app/icons/WXWork.png
Comment=Launch WXWork using Bottles.
StartupWMClass=WXWork
