keybinds {
    shared_except "tmux" "locked" {
        bind "F12" { SwitchToMode "Tmux"; }
    }
    shared_except "locked" {
        bind "Super j" "Super Left" { MoveFocusOrTab "Left"; }
        bind "Super l" "Super Right" { MoveFocusOrTab "Right"; }
        bind "Super k" "Super Down" { MoveFocus "Down"; }
        bind "Super i" "Super Up" { MoveFocus "Up"; }
        bind "Super ." "Super >" { Resize "Increase"; }
        bind "Super ," "Super <" { Resize "Decrease"; }
    }
    tmux {
        bind "F12" { Write 2; SwitchToMode "Normal"; }
        bind "m" { NewPane "Down"; SwitchToMode "Normal"; }
        bind "n" { NewPane "Right"; SwitchToMode "Normal"; }
        bind "b" { NewTab; SwitchToMode "Normal"; }
        bind "z" { ToggleFocusFullscreen; SwitchToMode "Normal"; }
        bind "x" { CloseFocus; SwitchToMode "Normal"; }
        bind "i" { MoveFocus "Up"; SwitchToMode "Normal"; }
        bind "k" { MoveFocus "Down"; SwitchToMode "Normal"; }
        bind "j" { MoveFocus "Left"; SwitchToMode "Normal"; }
        bind "l" { MoveFocus "Right"; SwitchToMode "Normal"; }
    }
}

themes {
  catppuccin-mocha {
    bg "#585b70" // Surface2
    fg "#cdd6f4"
    red "#f38ba8"
    green "#a6e3a1"
    blue "#89b4fa"
    yellow "#f9e2af"
    magenta "#f5c2e7" // Pink
    orange "#fab387" // Peach
    cyan "#89dceb" // Sky
    black "#181825" // Mantle
    white "#cdd6f4"
  }
}

default_shell "zsh"
scrollback_lines_to_serialize 10000
mouse_mode true
copy_on_select true
theme "catppuccin-mocha"
