[Unit]
Description=NiceGUI Personal UI

[Service]
Type=simple
WorkingDirectory=%h/Project/ko_trading/
ExecStart=mise x -- uv run main.py
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=default.target

