[Unit]
Description=v2rayA Lite Service
Documentation=https://github.com/v2rayA/v2rayA/wiki
After=network.target network-online.target nss-lookup.target iptables.service ip6tables.service nftables.service
Wants=network.target

[Service]
Type=simple
Environment="V2RAYA_CONFIG=%h/.config/v2raya"
Environment="V2RAYA_LOG_MAX_DAYS=2"
Environment="V2RAYA_LOG_FILE=/tmp/v2raya.log"
#Environment="V2RAY_LOCATION_ASSET=%h/.local/share/mise/installs/github-v2fly-v2ray-core/latest/"
Environment="V2RAY_LOCATION_ASSET=%h/.local/share/mise/installs/github-xtls-xray-core/latest/"
ExecStart=mise x -- v2raya --lite --log-disable-timestamp
Restart=on-failure
WorkingDirectory=/tmp/

[Install]
WantedBy=default.target
